* {
	box-sizing: border-box;
	font-family: Georgia, serif;
}

html, body {
	border: 0px;
	margin: 0px;
	scroll-behavior: smooth;
	background: #f2f2ed;
}

h1 {
	font-size: 100px;
	text-align: center;
}

h2 {
	font-size: 50px;
	text-align: center;
}

p {
	line-height: 2rem;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
	color: grey;
}

.credits {
	text-align: center;
}

.imageBlock {
	width: 100%;
}

.imageBlock img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.imageBlockSingle img {
	width: 100%;
}

.mainContainer {
	display: flex;
	flex-direction: column;
}

.navWrapper {
  	display: flex;
  	justify-content: center;
  	padding: 32px;
}

.navMenu {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 50vw;
	font-size: 1.5em;
}


.headerBg {
  	position: absolute;
    z-index: -1;
    background: url('shein.jpg') center center;
    background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-attachment: fixed;
    opacity: .7;
    width: 100%;
    height: 100%;
  }

.header {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	position: relative;
    z-index: 1;
    height: 80vh;
}

.threeColumnBlock {
  display: flex;
  gap: 10px;
}

.pageContainer {
	display: flex;
  	flex-direction: column;
  	padding-left: 10vw;
  	padding-right: 10vw;
  	padding-bottom: 10vh;
}











